.slide-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 57.25rem;
  outline: none;
  overflow-y: auto;
}

.prevNextIcon {
  align-self: center;
  margin-top: -20px;
  cursor: pointer;
}

.items-container {
  display: flex;
  margin: 0px 5px 15px;
  overflow-x: auto;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
}
.single-item-container {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  min-width: 10rem;
}
.ellipse-icon {
  display: none;
}
.before-ellipse-icon {
  display: block;
}
.single-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  font-size: 17px;
  color: #333556;
}

.single-item-container:hover {
  background-color: #f8f9fa;
}
.ellipse-icon {
  display: block;
  font-size: 14px;
}
.before-ellipse-icon {
  display: none;
}

.items-container::-webkit-scrollbar {
  outline: 1px solid slategrey;
  display: none;
  -ms-overflow-style: none;
}
